.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000000;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  padding: 15px;

  display: flex;
  align-items: center;
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Pastikan header mengambil lebar penuh */
  max-width: 1270px; /* Batasan lebar header */
  margin: 0 auto; /* Posisikan header di tengah */
}

/* Logo Section */
.header .logo {
  max-width: 25px;
  height: 100%; /* Pastikan logo memiliki tinggi penuh dari header */
}

.header .logo h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Links */
.header .nav-links {
  display: flex;
  justify-content: center; /* Center the nav links */
  flex: 1; /* Take up available space */
  margin: 0 20px; /* Add space between nav links and other items */
}

.header .nav-links a {
  margin: 0 15px;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s ease;
}

.header .nav-links a:hover {
  color: #1da1f2;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: flex-end;
}

.search-box input {
  padding: 8px 12px;
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 250px;
  font-size: 14px;
  transition: width 0.3s ease;
}

.search-box input:focus {
  width: 350px;
  outline: none;
  border-color: #1da1f2;
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: center; /* Center the columns */
  padding: 20px;
  flex: 1;
  gap: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    gap: 10px;
  }

  .left-column,
  .right-column,
  .center-column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header .logo h1 {
    font-size: 20px;
  }

  .header .nav-links a {
    font-size: 14px;
    margin: 0 10px;
  }

  .search-box input {
    width: 100%;
  }

  .left-column,
  .right-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .center-column {
    width: 100%;
  }
}
