.home-container {
  display: flex;
  min-height: 100vh;
  max-width: 1265px;
  margin: 0 auto;
  background-color: #000;
}

@media (max-width: 500px) {
  .home-container {
    flex-direction: column;
  }
}
