* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #e7e9ea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

input, textarea {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

::selection {
  background-color: rgba(29, 155, 240, 0.3);
}
